

p:first-child {
    color: red;
}
p:last-child {
    color: red;
}
/* p:nth-child(){
    color: red;
} */
ul li:nth-child(even) {
    color: blue;
    list-style: circle;
    background-color: aquamarine;
    list-style-type: square;
}
ul li:nth-child(odd) {
    color: rgb(184, 106, 142);
    list-style: circle;
    background-color: rgba(137, 43, 226, 0.342);
}

